
*.class

out/production/CrudReviewHTTP/META-INF/MANIFEST.MF

out/production/CrudReviewHTTP/templates/edit.html

out/production/CrudReviewHTTP/templates/index.html

.idea/compiler.xml

.idea/libraries/com_sparkjava_spark_template_mustache_2_3.xml

.idea/modules.xml

.idea/vcs.xml

.idea/misc.xml

.idea/workspace.xml

.idea/libraries/com_sparkjava_spark_core_2_3.xml

.idea/copyright/profiles_settings.xml

.idea/artifacts/CrudReviewHTTP_jar.xml
